 <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
      <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../assets/احلي-صور-جزر-المالديف-4.jpg" width="100%" height="100%" style="margin: auto;"> 
      </div>
      <!-- <div class="carousel-item">
        <img src="../assets/download.jpg" width="70%" height="100%">
      </div>
      <div class="carousel-item">
        <img src="../assets/famous-monuments-landmarks-in-world_9841_7_1713.webp" width="70%" height="100%">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a> -->
  </div>

  <div class="content_section">
        
    <h2 style="padding-top: 20px ;padding-left:30px;">Welcome to our company</h2>
    
    <p style="font-size: medium; padding-left: 20px;">Come to our company and travelle with us in a wonder land around the world</p>
  
  <div class="container">
    <div class="row g-2">
      <div class="col-6">
        <div class="p-3 border bg-light"><img src="../assets/images (1).jpg"width=100% height=100%></div>
      </div>
      <div class="col-6">
        <div class="p-3 border bg-light"><img src="../assets/images (2).jpg" width=420px height=250px></div>
      </div>
      <div class="col-6">
        <div class="p-3 border bg-light"><img src="../assets/images.jpg" width="420px" height="230px"></div>
      </div>
      <div class="col-6">
        <div class="p-3 border bg-light"><img src="../assets/صور-سياحية-2020-جديده.jpg"width="420px" height=230px></div>
      </div>
    </div>
  </div>


 
  
      <div class="card" style="background-color:lightgray ;">
        <div class="card-body" style="margin: auto;">
          Copyright © 2048>Egypt air
        </div>
      </div>